@use 'variables.scss';

*, *::before, *::after {
    box-sizing: border-box;
  }

  .font-family {
    font-family:"", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    row-gap: variables.$spacing-xl;
  }

  img {
    max-width: 100%;
  }

  body {
    background: linear-gradient(
      197deg,
      rgba(247, 231, 225, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  h1 {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px gray;
  }

  h2 {
    text-transform: uppercase;
    color: variables.$color-primary;
    font-size: 41px;
    font-family: Avenirs;
    letter-spacing: 3px;
  }

  h3 {
    text-transform: uppercase;
    color: variables.$color-gray2;
    font-size: 24px;
    font-family: Avenirs;
    letter-spacing: 3px;
  }

  p {
    color: variables.$color-gray2;
    font-size: 20px;
    font-family: Avenirs;
    letter-spacing: 2px;
    &.content-shadow {
      text-shadow: 1px 1px 4px gray;
    }
  }

  span {
    text-transform: uppercase;
    color: variables.$color-secondary;
    size: 24px;
    letter-spacing: 3px;
    font-family: Avenir;
      &.card-name {
        color:variables.$color-gray;
      }
      &.footer-tittle {
          color: variables.$color-primary;
          font-size: 20px;  
          text-transform: none;
      }
      &.mesage-tittle {
        color: variables.$color-primary;
        font-size: 20px; 
      }
  }

  .container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: variables.$spacing-lg;
    padding-right: variables.$spacing-lg;
    padding-top: variables.$spacing-lg;
    display: flex;
    flex-direction: column;
    row-gap: variables.$spacing-xl;
  }
  
    
  .button {
    background-color: variables.$color-primary;
    color: variables.$color-white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    &.button-lg {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        width: 350px;
        height: 73px;
        a {
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
      }
  }
