@use 'variables.scss';

.main-header {
    padding: 0;

    .main-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: variables.$spacing-lg;

        .main-navigation {
            display: flex;
            align-items: center;
            column-gap: variables.$spacing-lg;

            .main-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                list-style-type: none;
                padding-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                column-gap: variables.$spacing-lg;
                text-transform: uppercase;

                .menu-link {
                    padding: 8px;
                    color: variables.$color-gray;
                    text-decoration: none;
                    display: inline-block;
                  }
              }
          }
      }
      
}
  