@use 'variables.scss';

.sit-quis-section {
    .sit-scrol {
      display: flex;
      justify-content: space-between;
      }
      .cto {
        display: flex;
        column-gap: 10px;
        .cto-1 {
            background-color: white;
            border-radius: 5px;
        }
    
            .men {
                display: flex;
                p.cto-name {
                    font-size: 19px;
                }
                p.cto-forname {
                    font-size: 13px;
                    color: variables.$color-gray2;
                }
            }  
            p.cto-description {
                font-size: 16px;
                font-style: italic;
                color: variables.$color-gray2;
            }
    }
  }