
$color-primary: #647B64;
$color-secondary:#F3B562;
$color-gray2: #4F4F4F;
$color-black: black;
$color-white: white;
$color-gray: #333333;
$spacing-xs: 10px;
$spacing-sm: 20px;
$spacing-md: 25px;
$spacing-lg: 50px;
$spacing-xl: 100px;